* {
    padding: 0;
    margin: 0;
}

/* ---------------- CONFIGURAÇÕES PADRÃO ----------------*/

header, .menu-nav, .logo, .content, .menu-list ul, .container-title, .container-citation, .citation, .counter, .timers, .invite {
    display: flex;
}

header, .menu-nav, .logo, .container-title, .container-citation, .citation, .counter, .timers, .invite {
    align-items: center;
}

/* ---------------- AJUSTES CABEÇALHO ----------------*/

header {
    width: 100vw;
    height: 8vh;
    justify-content: center;
}

.menu-nav {
    width: 90%;
    height: 80%;
    justify-content: space-between;
}

/* MENU HAMBURGUER */ 

.menu img, .adjust {
    height: 1.5em;
    width: 1.5em;
}

.menu .hamburguer-menu {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: none;
    width: 100vw;
    height: 100vh;
}

.menu .hamburguer-menu .content {
    width: 70%;
    background-color: #002763;
    color: white;
    flex-direction: column;
    align-items: center;
    font-family: "EB Garamond", serif;
}

.menu .hamburguer-menu .content .content-child {
    width: 80%;
    height: 50%;
    margin-top: 2.5em;
}

.menu .hamburguer-menu .content .content-child .close-button {
    text-align: end;
}

.menu .hamburguer-menu .content .content-child .menu-list {
    height: 100%;
    margin-top: 3em;
}

.menu .hamburguer-menu .content .content-child .menu-list ul {
    height: 50%;
    flex-direction: column;
    justify-content: space-around;
}

.menu .hamburguer-menu .content .content-child .menu-list li {
    list-style: none;
    font-size: 1.3em;
    font-weight: 500;
}

.menu .hamburguer-menu .content .counter {
    height: 30%;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
}

.menu .hamburguer-menu .content .counter .timers {
    justify-content: space-between;
    width: 100%;
}

.menu .hamburguer-menu .content .counter .timers p {
    font-size: 1.8em;
    width: 30%;
    text-align: end;
}

.menu .hamburguer-menu .content .counter .timers span {
    width: 50%;
    font-size: 1.1em;
}

.menu .hamburguer-menu .styled {
    background-color: black;
    opacity: 0.5; 
    width: 30%;
}

/* LOGO */
.menu-nav .logo img{
    height: 3em;
}

/* ---------------- AJUSTES NAV CONTEÚDO ----------------*/

.max-container {
    height: 92vh;
    background: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.7)), url(../img/img-teste.jpg);
    background-repeat: none;
    background-size: cover;
    overflow-y: auto;
}

.container-title, .container-citation {
    height: calc(100vh - 8vh);
    color: white;
    flex-direction: column;
    justify-content: center;
}

.container-title img {
    width: 70vw;
}

.container-citation .citation {
    flex-direction: column;
    margin-bottom: 1em;
}

.container-citation .citation p {
    font-family: "EB Garamond", serif;
    font-style: italic;
    font-size: 1.2em;
}

.container-citation .reference p {
    font-size: 1.1em;
    font-style: normal;
}

/* CONVITE */

.invite {
    height: 100vh;
    width: 100vw;
}

/* ---------------- AJUSTE CONTEÚDO BIGGER-SCREEN ---------------- */

.bigger-screen {
    display: none;
}