header, nav, footer {
    display: none;
}

.bigger-screen {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}

.bigger-screen h1 {
    margin-bottom: 1em;
}